body{
    margin-left: 3px;
    display: inline-block;
    margin-left: 1px;
    margin-bottom: 0px;
    background: rgb(116,108,98);
background: linear-gradient(90deg, rgba(116,108,98,1) 0%, rgba(207,192,175,1) 52%, rgba(111,104,95,1) 94%);
}
header{
    display: inline-block;
    width: 1000px;
    margin-right: 0px;
}
img{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 60px;
    box-shadow: 15px 15px 10px #2F2C28;
}
h1{
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    margin-bottom: 25px;
    left: 122px;
    width: 1000px;
    margin-right: 0px;
    color: #251300;
}

.menuCf{
    width: 180px;
    height: 500px;
    margin: 0px;
    padding: 0px;
    float: left !important;
    margin-left: 10px;
    margin-right: 10px;
}
ul{
    list-style: none;
    float: left;
    padding: 5px;
    height: 450px;
    width: 170px;
    margin-top: 80px;
    margin-right: 0px;
}
li{
    display: block;
    border: 1px gray solid;
    padding: 5px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: #A51719;
    font-size: 20px;
}
footer{
    display: inline-block;
    width: 83.81em;
    height: 150px;
    position: relative;
    bottom: 40px;
    border-top: 1px black solid;
    
}
#Github{
    display: inline-block;
    color: rgb(12, 53, 129);
    position: relative;
    left: 550px;
    top: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#logogit{
    position: relative;
    display: inline;
    width: 50px;
    height: 50px;
    margin: 0px;
    left: 490px;
    top: 45px;
    box-shadow: 7px 7px 7px #2F2C28 ;
}
button{
    display: inline-block;
    position: relative;
    left: 50px;
    bottom: 60px;
    width: 95px;
    height: 20px;
    background-color:#449DBC;
    color: wheat;
    border-radius: 10px;
    border-style: none;
    font-size: 14.4px;
}
.CajaImg{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 60px;
    width: 180px;
    height: 290px;

}
#ssl{
    position: absolute;
    display: inline;
    width: 120px;
    height: 120px;
    margin: 0px;
    top: 35px;
    clear: both;
    left: 25px;
    box-shadow: none;
}